* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: #0c0d1f; */
  /* color: white; */
  font-family: "Roboto", sans-serif;
}

/* a {
  text-decoration: none;
  color: #1d1b1b;
} */
/*  */
.ps-menuitem-root {
  font-size: 0.9rem;
  padding: 0;
  margin: 0;
}

.css-1t8x7v1 > .ps-menu-button {
  /* font-size: 0.9rem; */
  padding: 0;
  margin: 0;
}

/* styles.css */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  /* background: #0c0d1f; */
}

::-webkit-scrollbar-thumb {
  /* background: #0d7cf2; */
  border-radius: 10px;
  height: 1px;
}

::-webkit-scrollbar-thumb:hover {
  /* background: #555; */
}

a {
  text-decoration: none;
  color: #0d7cf2;
}

.css-10f6mdy-MuiFormControl-root-MuiTextField-root .MuiInputBase-input {
  /* color: white; */
  background-color: transparent;
}
